@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<h1>@localizer["Merhaba"] @localizer["bugün"] Nasılsınız @localizer["havalar"] @localizer["çok"] sıcak olmasına rağmen iyi dayanıyorsunuz çünkü @localizer["Bugün"] Hava çok sıcak.</h1>

